{% extends "layout.html" %}
{% load static %}

{% block  title_page %}
Home Page
{% endblock  %}
{% block style_css %}
<link rel="stylesheet" href="{% static "blog/home.css" %}" >
{% endblock  %}
{% block  content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/me.png" %}" alt="Nico - The author">
        <h2> Nico's Blog </h2>
    </header>
    <p> Hi, im Daniel and i love coding </p>
</section>

<section id= "latest-posts">
    <h2> 
    My latest thoughts
    </h2>
    <ul>
        {% include "blog/includes/post.html" %}
    </ul>
</section>


<section id="about">
    <h2>What i do</h2>
    <p>I love coding</p>
    <p>My goal is to keep growing</p>
</section>
{% endblock  %}