{% extends "layout.html" %}
{% load static %}

{% block style_css %}
<link rel="stylesheet" href="{% static "challenges/index.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock  %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    <ul>
    {% for month in month_list %}
    <li><a href="{% url "monthly_challanges" month %}">{{month|title}}</a></li>   
    {% endfor %}
    </ul>
{% endblock %}
